:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/**Header**/

.header{
    display: flex;
    justify-content: center;/*Centra horizontalmente*/
}

.header__logo{
    margin: 3rem 0;
}

/**Footer**/

.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}

/**Navegacion**/

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

/*.navegacion__enlace:last-of-type{
    margin-right: 0;
}*/

.navegacion__enlace--activo,
.navegacion__enlace:hover  {/*Permite hacer cosas al momento de pasar por ensima el cursor del mouse*/
    color: var(--secundario);/*cambia de color al mover la flecha del mouse a ese lugar*/
}

/**Grid**/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/**Productos*/

.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/**Graficos**/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;/*Rellena el todo el espacio con la imagen*/
    grid-column: 1/3;
}

.grafico__camisas{
    grid-row: 2/3;
    background-image: url(/img/grafico1.jpg);
}

.grafico__node{
    background-image: url(/img/grafico2.jpg);
    grid-row: 8/9;
}

@media(min-width:768px){
    .grafico__node{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}

/**Nosotros**/

@media (min-width:768px) {
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }
}

@media (max-width:768px) {
    .nosotros__imagen{
        grid-column: 2/3;
        width: 100%;
        padding: .5rem;
    }

    .nosotros__informacion{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: justify;
        padding: 0 1rem;
    }
}
    
.nosotros__imagen{
    grid-column: 2/3;
    width: 100%;
}

.nosotros__informacion{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;
}

/**Beneficios**/

.beneficios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
}

@media (max-width: 768px){
    .beneficios{
        grid-template-columns: repeat(2, 1fr);

    }
}

.servicio__imagen{
    width: 100%;
}

.servicio__nombre{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.5rem;
    color: var(--secundario);
    margin: .5rem 0;
}

.servicio__descripcion{
    text-align: center;
}

/*Producto Especifico*/

@media (min-width:768px) {
    .producto-especifico{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

.producto-especifico__imagen{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    padding: 1rem;
}

.producto-especifico__informacion{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo{
    /*border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;*/
    border: 1rem solid var(--primarioOscuro);
    color: var(--blanco);
    background-color: transparent;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    /*appearance: none;*/
}

option{
    color: var(--negro);
    text-align: center;
}

.formulario__campo--cantidad{
    /*border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;*/
    border: 1rem solid var(--primarioOscuro);
    color: var(--blanco);
    background-color: transparent;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    /*appearance: none;*/
}



@media (max-width:468px) {

    .formulario{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }

    .formulario__campo{
        /*border-color: var(--primarioOscuro);
        border-width: 1rem;
        border-style: solid;*/
        border: 1rem solid var(--primarioOscuro);
        color: var(--blanco);
        background-color: transparent;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem;
        grid-row: 1/2;
        grid-column: 1/3;
        /*appearance: none;*/
    }

    .formulario__campo--cantidad{
        /*border-color: var(--primarioOscuro);
        border-width: 1rem;
        border-style: solid;*/
        border: 1rem solid var(--primarioOscuro);
        color: var(--blanco);
        background-color: transparent;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem;
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .formulario__submit{
        background-color: var(--secundario);
        border: none;
        font-size: 2rem;
        font-family: var(--fuentePrincipal);
        padding: 2rem;
        transition: background-color .3s ease;
        grid-column: 1/3;
        grid-row: 3/4;
        text-align: center;
    }
}

@media (max-width:468px) {
    .formulario__submit{
        background-color: var(--secundario);
        border: none;
        font-size: 2rem;
        font-family: var(--fuentePrincipal);
        padding: 2rem;
        transition: background-color .3s ease;
        grid-column: 1/3;
        text-align: center;
    }
}

.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1/3;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}





